@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
body {
  font-family: "Poiret One";
  color:red;
  background-image: url("net.jpg");
    background-size: cover;

}

h4{
  width: 75%;
  height: 20%;
}
h1{font-family:"Oswald";}
img{border: 10px solid red;}

#worktag {color:blue;}
#worktag {font-family: "Oswald";}

.bluetext {
  color:blue;

  /*heres a comment in css*/
}
